
{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_editcadastro' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'post_remove2' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        <h3>{{ post.nome }}</h3>
        <h3>{{ post.cidade|linebreaksbr }}</h3>
        <h3>{{ post.estado|linebreaksbr }}</h3>
        <h3>{{ post.idade|linebreaksbr }}</h3>
        <h3>{{ post.endereço|linebreaksbr }}</h3>
        <h3>{{ post.sexo|linebreaksbr }}</h3>
        <h3>{{ post.país|linebreaksbr }}</h3>

    </div>
{% endblock %}